* {
  margin: 0;
  padding: 0;
}

h1 h2 {
  font-family: 'Lobster';
}

a {
  text-decoration: none;
  color: orange;
}

header {
  background-color: #ddd;
  padding: 1%;
  text-align: center;
}

section {
  padding: 2%;
}

div {
  margin: 5% 0;
}

p {
  margin: 3% 0;
}
